<script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="/ckeditor/adapters/jquery.js"></script>
<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> 
            <a href="admin/index" title="Go to Home" class="tip-bottom">
                <i class="icon-home"></i> Home
            </a> 
            <a href="#" class="tip-bottom">Cập nhật sản phẩm</a>
        </div>
    </div>
    <form action="/admin/editProduct?_csrf={{ csrfToken }}" method="post" class="form-horizontal" enctype="multipart/form-data">
    <input type="text" name="_id" value="{{ result._id }}" class="hidden">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div class="widget-box">
                        <div class="col-xs-12 widget-content nopadding">
                            <input type="text" class="hidden" name="_csrf" value="{{ csrfToken }}">
                            <div class="control-group">
                                <label class="control-label">Tên sản phẩm</label>
                                <div class="controls">
                                    <input type="text" class="span11" placeholder="Tên sản phẩm" name="title" value="{{ result.title }}"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Alias</label>
                                <div class="controls">
                                    <input type="text" class="span11" placeholder="Alias" name="alias" value="{{ result.alias }}"/>
                                </div>
                            </div>
                            <div class="col-sm-6 control-group">
                                <label class="control-label">Chọn danh mục</label>
                                <div class="controls">
                                    <select name="id_category">
                                        {{# if listcat}}
                                            {{# each listcat}}
                                            {{# each this}}
                                            <option value="{{this._id}}">{{ this.title }}</option>
                                            {{/each}}
                                             {{/each}}
                                        {{/if}}
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Ảnh đại diện</label>
                                <div class="controls">
                                    <input type="file" name="file" class="file" id="file" value="{{ result.imagePath }}"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Giá sản phẩm</label>
                                <div class="controls">
                                    <input type="text"  class="span11" placeholder="Giá sản phẩm" name="price" value="{{ result.price }}"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Mô tả ngắn</label>
                                <div class="controls" >
                                     <textarea class="span11 description" placeholder="Mô tả ngắn" name="description" id="description" value="{{ result.description }}"></textarea>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Chi tiết sản phẩm</label>
                                <div class="controls">
                                    <textarea class="span11 detail" style="width:80%" placeholder="Chi tiết sản phẩm" name="detail" id="detail"  value="{{ result.detail }}"></textarea>
                                </div>
                            </div>
                            <div class="control-label form-actions">
                                <button type="submit" class="btn btn-success">Cập nhật</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    CKEDITOR.replace('detail', {
        "extraPlugins" : "imagebrowser",
        "imageBrowser_listUrl" : "/files"
    });
    CKEDITOR.replace( 'description', {
        toolbar: [
            { name: 'document', items: [ 'Source', '-', 'NewPage', 'Preview', '-', 'Templates' ] },	// Defines toolbar group with name (used to create voice label) and items in 3 subgroups.
            [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ],			// Defines toolbar group without name.
            '/',																					// Line break - next group will be placed in new line.
            { name: 'basicstyles', items: [ 'Bold', 'Italic' ] }
        ]
    });

</script>
